/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: $red;

  img {
    width: 43px;
    height: 43px;
  }
}

nav {
  width: 900px;
  background-color: $red;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: 100%;
  padding-top: 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}

.pokedex {
  display: flex;
}

.pokedex > ul {
  height: calc(100% - 20px);
  width: 300px;
  padding: 0 10px 0 0;
  overflow: scroll;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
  width: 100%;
  background-color: $light-grey;
  border: 6px solid black;
  border-radius: 20px;
  padding: 20px;
}

.pokemon-detail > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-detail img {
  margin: 0 auto;
  width: 300px;
}

.pokemon-detail li {
  font-size: 16px;
}

.poke-index-item {
  padding: 5px;
  border: 1px solid black;
  border-bottom: 0;
  display: flex;
  justify-content: flex-start;
}

.poke-index-item span {
  text-decoration: none;
}

.poke-index-item img {
  margin-left: 7px;
  margin-right: 7px;
}

.items {
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  flex-direction: column;
}

.item-list {
  display: flex;
  border: 5px solid black;
  border-radius: 10px;
  padding: 0;
  margin: 0 20px 10px;
}

.item-list li {
  flex: 1
}

.item-list li img {
  width: 150px;
  height: auto;
}

.item-detail {
  flex-direction: column;
  align-items: center;
}
